extends template

//- 修改網頁標題、描述
block config
	- var pageTitle = '2016 新年新希望'
	- var description = '由 Sean Su 製作的新年新希望留言板。農曆猴年到～祝福自己也祝福未來，將自己的新希望大聲說出來！'

//- block msg-list
//- 	mixin list
//- 		.msg-card
//- 			.title
//- 				.pic
//- 				h3.name Sean
//- 					small 打小就老實憨厚
//- 			.content
//- 				p 祝大家新年快樂！
//- 			.time
//- 				time 2015-02-03 19:00