// $font-family
$font-family-sans-serif: \5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, MingLiU, sans-serif !default





// $font：包含字型大小、顏色
$base-font-size: 16px !default
$base-line-height: 24px !default

$a-link-color: #2196F3 !default
$a-hover-color: #1565C0 !default





// $table
$table-border: 1px solid #555 !default
$table-padding-vertical: .5em !default
$table-padding-horizontal: .5em !default





// $opacity、$border-radius
$opacity-sm: .87 !default
$opacity-md: .54 !default
$opacity-lg: .26 !default

$border-radius-md: 6px !default
$border-radius-sm: $border-radius-md / 2 !default
$border-radius-lg: $border-radius-md * 2 !default





// shadow
$z1: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !default
$z2: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2) !default
$z3: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24) !default
$z4: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22) !default





// transition
$transition-default: all .5s cubic-bezier(.3, .1, .05, 1) !default